<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
	  			xmlns:c="http://java.sun.com/jsp/jstl/core"
				template="/WEB-INF/layouts/standard.xhtml">
<ui:define name="notes">
	<p>
		Clicking "Book" will launch the booking sub-flow (see the subflow state in <strong>main-flow.xml</strong>).
	</p>
	<p>
		The booking flow is protected with Spring Security (see the secured attribute in <strong>booking-flow.xml</strong>).
	</p>
	<p>
		Clicking "Back to Search" will take you to the stateful search results. 
	</p>
</ui:define>
<ui:define name="content">
	<!-- <h1>${hotel.name}</h1>
	<address>
		${hotel.address}
		<br />
		${hotel.city}
		<br />
		${hotel.state} ${hotel.zip}
		<br />
		${hotel.country}
	</address> -->
	<h:form id="user">
	<p:panel id="panel" header="Nowy Użytkownik" style="margin-bottom:10px;">  
        <p:messages id="messages" autoUpdate="true"/>  
        <h:panelGrid columns="3">  
            <h:outputLabel for="login" value="Login: " />  
            <p:inputText id="login"   
                value="#{editedUser.login}" required="true" label="Login">  
                <f:validateLength minimum="3" />  
            </p:inputText>  
            <p:message for="login" />
  
            <h:outputLabel for="name" value="Imię: " />  
            <p:inputText id="name"   
                value="#{editedUser.name}" required="true" label="Name"/>
            <p:message for="name" />  
            
            <h:outputLabel for="type" value="Typ: " />  
            <p:selectOneMenu id="type" value="#{editedUser.type}" required="true">  
            	<f:selectItem itemLabel="ADMIN" itemValue="ADMIN" />  
            	<f:selectItem itemLabel="STUDENT" itemValue="STUDENT" />
            	<f:selectItem itemLabel="PROFESSOR" itemValue="PROFESSOR" />
        	</p:selectOneMenu> 
        	<p:message for="type" /> 
        	
        	<h:outputLabel for="pwd1" value="Hasło: " />  
            <p:password id="pwd1" value="#{editedUser.password}" />
            <p:message for="pwd1" />
            
            <h:outputLabel for="indexNumber" value="Numer Indeksu: " />  
            <p:inputText id="indexNumber"   
                value="#{editedUser.indexNumber}" required="false" label="indexNumber"/>
            <p:message for="indexNumber" />
            
        </h:panelGrid>  
    </p:panel>
	    <!-- <div>
	        Nightly Rate:&#160;
            <h:outputText value="#{hotel.price}">
                <f:convertNumber type="currency" currencySymbol="$"/>
            </h:outputText>
	    </div> -->
		<div>
			<p:commandButton id="save" action="save" value="Zapisz" ajax="false" actionListener="#{messagesController.addOperationError}"/>
			<p:commandButton id="cancel" action="cancel" value="Anuluj" immediate="true"/>
		</div>
	</h:form>
</ui:define>
</ui:composition>