<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/layouts/standard.xhtml">
<ui:define name="notes">
	<p>
		This page uses the PrimeFaces data table backed by a lazily loaded DataModel (see <strong>HotelLazyDataModel.java</strong>).
		Page navigation is Ajax-based and uses JSF 2 partial rendering.
		The name and city columns support forward and reverse sorting. 
	</p>
	<p>
		The DataModel is created and stored in view scope when the view is first entered (see <strong>main-flow.xml</strong>). 
		When the user makes a selection, the selection is stored in a flow-scoped "hotel" variable before transitioning to the detail page. 
	</p>
</ui:define>
<ui:define name="content">
<h:form id="form">
	<p:dataTable id="users" var="user" value="#{users}" paginator="true" rows="10" 
	paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} 
	{CurrentPageReport} {NextPageLink} {LastPageLink}" 
	rowsPerPageTemplate="5,10,15" lazy="true"
	selectionMode="single" selection="#{users.selectedUser}">
       <p:ajax event="rowSelect" listener="#{users.onRowSelect}" update=":form:display" oncomplete="PF('userDialog').show()" /> 
       <p:column>
			<f:facet name="header">Id</f:facet>
			#{user.id}
		</p:column>
		<p:column>
			<f:facet name="header">Login</f:facet>
			#{user.login}
		</p:column>
		<p:column>
			<f:facet name="header">Imię</f:facet>
			#{user.name}
		</p:column>
		<p:column>
			<f:facet name="header">Typ</f:facet>
			#{user.type}
		</p:column>
		<p:column>
			<f:facet name="header">Number Indeksu</f:facet>
			#{user.indexNumber}
		</p:column>
	</p:dataTable>
	<p:dialog header="Szczegóły użytkownika" widgetVar="userDialog" resizable="false"  
              showEffect="explode" hideEffect="explode">  
  		<p:messages id="messages" autoUpdate="true"  />
        <h:panelGrid id="display" columns="2" cellpadding="4">  
           
            <h:outputText value="Id" />  
            <h:outputText value="#{users.selectedUser.id}"/>  
  
            <h:outputText value="Login" />  
            <h:outputText value="#{users.selectedUser.login}"/>
             
            <h:outputText value="Imię" />  
            <h:outputText value="#{users.selectedUser.name}"/> 
            
            <h:outputText value="Typ" />  
            <h:outputText value="#{users.selectedUser.type}"/>  
            
            <h:outputText value="Numer Indeksu" />  
            <h:outputText value="#{users.selectedUser.indexNumber}"/>  
            <p:commandButton id="editUser" value="Edytuj" action="edit" />
            <p:commandButton id="deleteUser" value="Usuń" action="delete" actionListener="#{messagesController.addOperationError}"/>
        </h:panelGrid>  
    </p:dialog>  
    <p:commandButton id="newUser" value="Nowy" action="new" />
</h:form>
</ui:define>
</ui:composition>