<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sf="http://www.springframework.org/tags/faces"
				template="layouts/standard.xhtml">


<ui:define name="content">
<div>
	
	<p>
		<a href="admin">Panel Administratora</a><br/>
		<a href="professor">Panel Profesora</a><br/>
		<a href="student">Panel Studenta</a>
	</p>
</div>
</ui:define>
</ui:composition>