<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">

<h:head>
	<meta http-equiv="Refresh" content="0; url=${request.contextPath}/j_spring_security_logout" />
</h:head>
<h:body> 
<a href="${request.contextPath}/j_spring_security_logout">Wyloguj</a>
</h:body>
</f:view>
</html>
