<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
	  			xmlns:c="http://java.sun.com/jsp/jstl/core"
				template="standard.xhtml">
<ui:define name="notes">
	<p>
		Clicking "Book" will launch the booking sub-flow (see the subflow state in <strong>main-flow.xml</strong>).
	</p>
	<p>
		The booking flow is protected with Spring Security (see the secured attribute in <strong>booking-flow.xml</strong>).
	</p>
	<p>
		Clicking "Back to Search" will take you to the stateful search results. 
	</p>
</ui:define>
<ui:define name="content">
<h:form id="newCourseForm">
	<p:dialog header="Nowa Kategoria" widgetVar="newCategoryDialog" resizable="false"
              showEffect="explode" hideEffect="explode" dynamic="true">  
  		<p:messages id="messages" autoUpdate="true"  />
        <h:panelGrid id="display" columns="3" cellpadding="4">  
           
            <h:outputLabel for="name" value="Nazwa Kategorii: " />  
            <p:inputText id="name"   
                value="#{category_questionTreeBean.newCategory}" required="true" label="Nazwa Kategorii"/>
            <p:message for="name" />  
        

            <p:commandButton id="saveCourse" value="Zapisz" action="refreshOnSuccess" actionListener="#{category_questionTreeBean.persistCategory}"/>
            <p:commandButton id="cancel" value="Anuluj" immediate="true" action="cancel"/>
        </h:panelGrid>  
    </p:dialog>  
    </h:form>
    
    <h:form id="newQuestionForm">
	<p:dialog header="Nowe Pytanie" widgetVar="newQuestionDialog" resizable="false"
              showEffect="explode" hideEffect="explode" dynamic="true">  
  		<p:messages id="messages" autoUpdate="true"  />
        <h:panelGrid id="display" columns="3" cellpadding="4">  
           
            <h:outputLabel for="text" value="Tekst: " />  
            <p:inputTextarea id="text" rows="5" cols="40" value="#{category_questionTreeBean.newQuestion.text}" required="true" label="Tekst"/>  
            <p:message for="text" /> 
            </h:panelGrid> 
            <p:panel id="answersForm" header="Odpowiedzi" >
            <ui:repeat id="repeat" value="#{category_questionTreeBean.newQuestion.answers}" var="answer">
				
				<p:panel id="category_question"  style="margin-bottom:10px;">
				<h:panelGrid columns="3" cellpadding="4"> 
				<h:outputLabel for="text" value="Tekst: " />  
            <p:inputText id="text" value="#{answer.text}" required="true" label="Tekst"/>  
            <p:message for="text" /> 
            
            <h:outputLabel for="explenationText" value="Wytłumaczenie odpowiedzi: " />  
            <p:inputText id="explenationText" value="#{answer.explenationText}" required="false" label="Wytłumaczenie"/> 
			<p:message for="explenationText" />
            
            
            <h:outputText for="isTrue" value="Czy Prawdziwa " /> 
            <p:selectBooleanButton id="isTrue" value="#{answer.isTrue}" onLabel="Tak" offLabel="Nie" onIcon="ui-icon-check" offIcon="ui-icon-close" />  
            <p:message for="explenationText" />
            <p:commandButton id="deleteAnswer" value="- Usuń odpowiedź" immediate="true" update=":newQuestionForm:answersForm"  action="#{category_questionTreeBean.removeNewAnswerFromNewQuestion(answer)}"/>
				</h:panelGrid>
				</p:panel>
			</ui:repeat>
			<p:commandButton id="addAnswer" value="+ Dodaj odpowiedź" update=":newQuestionForm:answersForm"  actionListener="#{category_questionTreeBean.addNewAnswerToNewQuestion}"/>
			</p:panel>
            
            <h:panelGrid columns="3" cellpadding="4">
            	<p:commandButton id="saveQuestion" value="Zapisz" action="refreshOnSuccess" actionListener="#{category_questionTreeBean.persistQuestion}"/>
        		<p:commandButton id="cancel" value="Anuluj" immediate="true" action="cancel" actionListener="#{category_questionTreeBean.resetNewQuestion}" />
            </h:panelGrid>
           
    </p:dialog>  
    </h:form>
    
    <h:form id="newAnswerForm">
	<p:dialog header="Odpowiedź" widgetVar="newAnswerDialog" resizable="false"
              showEffect="explode" hideEffect="explode" dynamic="true">  
  		<p:messages id="messages" autoUpdate="true"  />
        <h:panelGrid id="display" columns="3" cellpadding="4">  
           
            <h:outputLabel for="text" value="Tekst: " />  
            <p:inputTextarea id="text" rows="5" cols="40" value="#{category_questionTreeBean.newAnswer.text}" required="true" label="Tekst"/>  
            <p:message for="text" /> 
            
            <h:outputLabel for="explenationText" value="Wytłumaczenie odpowiedzi: " />  
            <p:inputTextarea id="explenationText" rows="10" cols="50" value="#{category_questionTreeBean.newAnswer.explenationText}" required="false" label="Wytłumaczenie"/> 
			<p:message for="explenationText" />
            
            <h:outputText for="isTrue" value="Czy Prawdziwa " /> 
            <p:selectBooleanButton id="isTrue" value="#{category_questionTreeBean.newAnswer.isTrue}" onLabel="Tak" offLabel="Nie" onIcon="ui-icon-check" offIcon="ui-icon-close" />  
            <p:message for="explenationText" />
            
            <p:commandButton id="saveAnswer" value="Zapisz" action="refreshOnSuccess" actionListener="#{category_questionTreeBean.persistAnswer}"/>
            <p:commandButton id="cancel" value="Anuluj" immediate="true" action="cancel" actionListener="#{category_questionTreeBean.resetNewAnswer}"/>
        </h:panelGrid>  
    </p:dialog>  
    </h:form>
    
	<h:form id="form">
	<p:panel id="category_question" header="Kategoria - Pytanie" style="margin-bottom:10px;">        
    <p:contextMenu id="treeMenu" for="tree" nodeType="#{category_questionTreeBean.rootType}">  
        <p:menuitem value="Nowa Kategoria" oncomplete="PF('newCategoryDialog').show()" icon="ui-icon-pencil" />  
    </p:contextMenu>
    
    <p:contextMenu id="treeMenu2" for="tree" nodeType="#{category_questionTreeBean.categoryType}">  
        <p:menuitem value="Nowa Kategoria" oncomplete="PF('newCategoryDialog').show()" icon="ui-icon-pencil" />  
        <p:menuitem value="Nowe Pytanie" oncomplete="PF('newQuestionDialog').show()" icon="ui-icon-pencil" />
        <p:menuitem value="Usuń" icon="ui-icon-close" action="refreshOnSuccess" actionListener="#{category_questionTreeBean.deleteCategory}"/>  
    </p:contextMenu>
    
    <p:contextMenu id="treeMenu3" for="tree" nodeType="#{category_questionTreeBean.questionType}">  
        <p:menuitem value="Nowa Odpowiedź" oncomplete="PF('newAnswerDialog').show()" icon="ui-icon-pencil" />  
        <p:menuitem value="Edytuj Pytanie" oncomplete="PF('newQuestionDialog').show()" actionListener="#{category_questionTreeBean.setSelectedQuestionAsNew}" icon="ui-icon-document" />  
        <p:menuitem value="Usuń" icon="ui-icon-close" action="refreshOnSuccess" actionListener="#{category_questionTreeBean.deleteQuestion}"/>  
    </p:contextMenu>
    
    <p:contextMenu id="treeMenu4" for="tree" nodeType="#{category_questionTreeBean.answerTrueType}">  
        <p:menuitem value="Edytuj Odpowiedź" oncomplete="PF('newAnswerDialog').show()" actionListener="#{category_questionTreeBean.setSelectedAnswerAsNew}" icon="ui-icon-document" />  
        <p:menuitem value="Usuń" icon="ui-icon-close" action="refreshOnSuccess" actionListener="#{category_questionTreeBean.deleteAnswer}"/>  
    </p:contextMenu>
    <p:contextMenu id="treeMenu4b" for="tree" nodeType="#{category_questionTreeBean.answerFalseType}">  
        <p:menuitem value="Edytuj Odpowiedź" oncomplete="PF('newAnswerDialog').show()" actionListener="#{category_questionTreeBean.setSelectedAnswerAsNew}" icon="ui-icon-document" />  
        <p:menuitem value="Usuń" icon="ui-icon-close" action="refreshOnSuccess" actionListener="#{category_questionTreeBean.deleteAnswer}"/>  
    </p:contextMenu>
              
            <p:tree value="#{category_questionTreeBean.root}" var="node" id="tree" selectionMode="single"  
            selection="#{category_questionTreeBean.selectedNode}" >  
        		<p:treeNode  type="#{category_questionTreeBean.rootType}">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode>  
        		<p:treeNode  type="#{category_questionTreeBean.categoryType}">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode> 
        		<p:treeNode  type="#{category_questionTreeBean.questionType}"  icon="ui-icon-help">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode> 
        		<p:treeNode  type="#{category_questionTreeBean.answerTrueType}" icon="ui-icon-check">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode> 
        		<p:treeNode  type="#{category_questionTreeBean.answerFalseType}" icon="ui-icon-close">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode>
    		</p:tree>
    		
    </p:panel>
    			
	</h:form>
</ui:define>
</ui:composition>