<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
	  			xmlns:c="http://java.sun.com/jsp/jstl/core"
				template="standard.xhtml">
<ui:define name="notes">
	<p>
		Clicking "Book" will launch the booking sub-flow (see the subflow state in <strong>main-flow.xml</strong>).
	</p>
	<p>
		The booking flow is protected with Spring Security (see the secured attribute in <strong>booking-flow.xml</strong>).
	</p>
	<p>
		Clicking "Back to Search" will take you to the stateful search results. 
	</p>
</ui:define>
<ui:define name="content">
<h:form id="newCourseForm">
	<p:dialog header="Nowy Kurs" widgetVar="newCourseDialog" resizable="false"
              showEffect="explode" hideEffect="explode" dynamic="true">  
  		<p:messages id="messages" autoUpdate="true"  />
        <h:panelGrid columns="3" cellpadding="4">   
        <h:outputText for="courseName" value="Nazwa Kursu" />  
        <p:inputText id="courseName"   
                value="#{course_testTreeBean.newCourse}" required="true" label="Nazwa Kursu">   
            </p:inputText>  
        <p:message for="courseName" />
            <p:commandButton id="saveCourse" value="Zapisz" action="refreshOnSuccess" actionListener="#{course_testTreeBean.persistCourse}"/>
            <p:commandButton id="cancel" immediate="true" value="Anuluj" action="cancel"/>
        </h:panelGrid>  
    </p:dialog>  
    </h:form>
    
    <h:form id="newTestForm">
	<p:dialog header="Nowy Test:" widgetVar="newTestDialog" resizable="false"
              showEffect="explode" hideEffect="explode" dynamic="true">  
  		<p:messages id="messages" autoUpdate="true"  />
        <h:panelGrid id="display" columns="3" cellpadding="4">  
           
            <h:outputLabel for="testName" value="Nazwa: " />  
            <p:inputText id="testName"   
                value="#{course_testTreeBean.getNewTest().name}" required="true" label="Nazwa Kursu" /> 
            <p:message for="testName" /> 
            
            <h:outputLabel for="questionsCount" value="Liczba pytań:" />                      
            <p:inputText id="questionsCount" value="#{course_testTreeBean.newTest.questionsCount}" required="true" label="Liczba pytań" converter="javax.faces.BigInteger">  
                <f:validateLongRange minimum="1" maximum="1000000" /> 
            </p:inputText>  
            <p:message for="questionsCount" />
            
            <h:outputLabel for="answersCount" value="Liczba odpowiedzi:" />                      
            <p:inputText id="answersCount" value="#{course_testTreeBean.newTest.answersCount}" required="true" label="Liczba odpowiedzi" converter="javax.faces.BigInteger">  
                <f:validateLongRange minimum="1" maximum="100" /> 
            </p:inputText>  
            <p:message for="answersCount" />
            
            <h:outputText for="isElearning" value="Test E-Learningowy: " /> 
            <p:selectBooleanButton id="isElearning" value="#{course_testTreeBean.getNewTest().isElearning}" onLabel="Tak" offLabel="Nie" onIcon="ui-icon-check" offIcon="ui-icon-close" />  
            <p:message for="isElearning" />
            
            <h:outputText for="areMultipleAnswers" value="Test Wielokrotnego Wyboru" /> 
            <p:selectBooleanButton id="areMultipleAnswers" value="#{course_testTreeBean.getNewTest().areMultipleAnswers}" onLabel="Tak" offLabel="Nie" onIcon="ui-icon-check" offIcon="ui-icon-close" />  
            <p:message for="areMultipleAnswers" />
            
            <h:outputLabel for="timeForTest" value="Czas na rozwiązanie testu [min]:" />                      
            <p:inputText id="timeForTest" value="#{course_testTreeBean.getNewTest().timeForTest}" label="Czas na test" converter="javax.faces.BigInteger">  
                <f:validateLongRange minimum="1" maximum="1000000" />  
            </p:inputText>  
            <p:message for="timeForTest" />
            
            <p:panel  header="Punktacja, liczba punktów na daną ocenę" style="margin-bottom:10px;">  
            
            <h:outputLabel for="m3" value="Ocena 3  :" />                      
            <p:inputText id="m3" value="#{course_testTreeBean.getNewTest().punctation.m3}" required="true" label="Liczba pytań">  
                <f:validateLongRange minimum="1" maximum="1000000" />  
            </p:inputText>  
            <p:message for="m3" />
            
            <h:outputLabel for="m3_5" value="Ocena 3.5:" />                      
            <p:inputText id="m3_5" value="#{course_testTreeBean.getNewTest().punctation.m35}" required="true" label="Liczba pytań">  
                <f:validateLongRange minimum="1" maximum="1000000" />  
            </p:inputText>  
            <p:message for="m3_5" />
            
            <h:outputLabel for="m4" value="Ocena 4  :" />                      
            <p:inputText id="m4" value="#{course_testTreeBean.getNewTest().punctation.m4}" required="true" label="Liczba pytań">  
                <f:validateLongRange minimum="1" maximum="1000000" />  
            </p:inputText>  
            <p:message for="m4" />
            
            <h:outputLabel for="m4_5" value="Ocena 4.5:" />                      
            <p:inputText id="m4_5" value="#{course_testTreeBean.getNewTest().punctation.m45}" required="true" label="Liczba pytań">  
                <f:validateLongRange minimum="1" maximum="1000000" />  
            </p:inputText>  
            <p:message for="m4_5" />
            
            <h:outputLabel for="m5" value="Ocena 5  :" />                      
            <p:inputText id="m5" value="#{course_testTreeBean.getNewTest().punctation.m5}" required="true" label="Liczba pytań">  
                <f:validateLongRange minimum="1" maximum="1000000" />  
            </p:inputText>  
            <p:message for="m5" />
            
            </p:panel>
       
       		<p:panel  header="Kategorie pytań testowych (ctrl by zaznaczyć wiele):" style="margin-bottom:10px;">  
            
       		<p:tree value="#{course_testTreeBean.categoriesRoot}" var="node" id="tree" selectionMode="multiple"  
            selection="#{course_testTreeBean.categoriesSelectedNodes}" >  
        		<p:treeNode  type="#{course_testTreeBean.categoryType}">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode>  
    		</p:tree>
       		</p:panel>
       		<h:outputLabel value="" />
       
       
            <p:commandButton id="saveQuestion" value="Zapisz" action="refreshOnSuccess" actionListener="#{course_testTreeBean.persistTest}"/>
            <p:commandButton id="cancel" immediate="true" value="Anuluj" action="cancel" actionListener="#{course_testTreeBean.resetNewTest}"/>
        </h:panelGrid>  
    </p:dialog>  
    </h:form>
    
	<h:form id="form">
	<p:panel id="course_testTreeBean" header="Kurs - Test - Wyniki Studentów" style="margin-bottom:10px;">  
	      
    <p:contextMenu id="treeMenu" for="tree" nodeType="#{course_testTreeBean.rootType}">  
        <p:menuitem value="Nowy Kurs" oncomplete="PF('newCourseDialog').show()" icon="ui-icon-pencil" />  
    </p:contextMenu>
    
    <p:contextMenu id="treeMenu2" for="tree" nodeType="#{course_testTreeBean.courseType}">  
        <p:menuitem value="Nowy Kurs" oncomplete="PF('newCourseDialog').show()" icon="ui-icon-pencil" /> 
        <p:menuitem value="Nowy Test" oncomplete="PF('newTestDialog').show()" icon="ui-icon-pencil" />
        <p:menuitem value="Usuń" icon="ui-icon-close" action="refreshOnSuccess" actionListener="#{course_testTreeBean.deleteCourse}"/>  
    </p:contextMenu>
    
    <p:contextMenu id="treeMenu3" for="tree" nodeType="#{course_testTreeBean.testType}">  
        <p:menuitem value="Edytuj Test" oncomplete="PF('newTestDialog').show()" actionListener="#{course_testTreeBean.setSelectedTestAsNew}" icon="ui-icon-document" />  
        <p:menuitem value="Usuń" icon="ui-icon-close" action="refreshOnSuccess" actionListener="#{course_testTreeBean.deleteTest}"/>  
        <p:menuitem value="Pokaż wyniki" icon="ui-icon-arrowthick-1-ne" action="getStudentResults"/> 
    </p:contextMenu>
              
            <p:tree value="#{course_testTreeBean.root}" var="node" id="tree" selectionMode="single"  
            selection="#{course_testTreeBean.selectedNode}" >  
        		<p:treeNode  type="#{course_testTreeBean.rootType}">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode>  
        		<p:treeNode  type="#{course_testTreeBean.courseType}">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode> 
        		<p:treeNode  type="#{course_testTreeBean.testType}">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode> 
    		</p:tree>
    		
    </p:panel>
    		
    		
	</h:form>
</ui:define>
</ui:composition>