<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
	  			xmlns:c="http://java.sun.com/jsp/jstl/core"
				template="standard.xhtml">
<ui:define name="notes">
	<p>
		Clicking "Book" will launch the booking sub-flow (see the subflow state in <strong>main-flow.xml</strong>).
	</p>
	<p>
		The booking flow is protected with Spring Security (see the secured attribute in <strong>booking-flow.xml</strong>).
	</p>
	<p>
		Clicking "Back to Search" will take you to the stateful search results. 
	</p>
</ui:define>
<ui:define name="content">


<h:form id="newCourseForm">
	<p:dialog header="Nowy Kurs" widgetVar="newCourseDialog" resizable="false"
              showEffect="explode" hideEffect="explode" dynamic="true">  
  		<p:messages id="messages" autoUpdate="true"  />
        <h:panelGrid columns="3" cellpadding="4">   
        <h:outputText value="Nazwa Kursu" />  
        <p:inputText id="courseName"   
                value="#{course_userTreeBean.newCourse}" required="true" label="Nazwa Kursu">   
            </p:inputText>  
        <p:message for="courseName" />
            <p:commandButton id="saveCourse" value="Zapisz" action="refreshOnSuccess" actionListener="#{course_userTreeBean.persist}"/>
            <p:commandButton id="cancel" immediate="true" value="Anuluj" action="cancel"/>
        </h:panelGrid>  
    </p:dialog>  
    </h:form>
    <h:form id="newUserForm">
	<p:dialog header="Przypisz Użytkownika" widgetVar="assignUser" resizable="false"
              showEffect="explode" hideEffect="explode" dynamic="true">  
  		<p:messages id="messages" autoUpdate="true"  />
        <h:panelGrid columns="3" cellpadding="4">
        <h:outputText value="Nazwa Użytkownika" />  
        <p:inputText id="userName"   
                value="#{course_userTreeBean.newStudent.login}" required="true" label="Nazwa Użytkownika">   
        </p:inputText> 
        <p:message for="userName" />
            <p:commandButton id="saveUser" value="Przypisz" action="refreshOnSuccess" actionListener="#{course_userTreeBean.assign}"/>
            <p:commandButton id="cancel" immediate="true" value="Anuluj" action="cancel"/>
        </h:panelGrid>  
    </p:dialog>  
    </h:form>




	<h:form id="form">
	<p:panel id="course_user" header="Kurs - Student" style="margin-bottom:10px;">   
	
	
	
	<p:contextMenu id="treeMenu" for="tree" nodeType="#{course_userTreeBean.rootType}">  
        <p:menuitem value="Nowy Kurs" oncomplete="PF('newCourseDialog').show()" icon="ui-icon-pencil" />  
    </p:contextMenu>
    
    <p:contextMenu id="treeMenu2" for="tree" nodeType="#{course_userTreeBean.courseType}">  
        <p:menuitem value="Nowy Kurs" oncomplete="PF('newCourseDialog').show()" icon="ui-icon-pencil" />  
        <p:menuitem value="Nowy Użytkownik" oncomplete="PF('assignUser').show()" icon="ui-icon-pencil" />
        <p:menuitem value="Usuń" icon="ui-icon-close" action="refreshOnSuccess" actionListener="#{course_userTreeBean.delete}"/>  
    </p:contextMenu>
    
    <p:contextMenu id="treeMenu3" for="tree" nodeType="#{course_userTreeBean.userType}">  
         <p:menuitem value="Usuń" icon="ui-icon-close" action="refreshOnSuccess" actionListener="#{course_userTreeBean.delete}"/>  
    </p:contextMenu>
	
    		
    		<p:tree value="#{course_userTreeBean.root}" var="node" id="tree" selectionMode="single"  
            selection="#{course_userTreeBean.selectedNode}" >  
        		<p:treeNode  type="#{course_userTreeBean.rootType}">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode>  
        		<p:treeNode  type="#{course_userTreeBean.courseType}">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode> 
        		<p:treeNode  type="#{course_userTreeBean.userType}">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode> 
    		</p:tree>
    	
    		
    		 </p:panel>
	</h:form>
</ui:define>
</ui:composition>