<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
	  			xmlns:c="http://java.sun.com/jsp/jstl/core"
				template="/WEB-INF/layouts/standard.xhtml">

<ui:define name="side_menu">
<h:form>
	<p:tieredMenu  style="width:250px">
            <p:menuitem value="Kurs - Student" action="toCourseUser" icon="ui-icon-arrowthick-1-ne"/>
            <p:separator />
            <p:menuitem value="Kategoria - Pytanie" action="toCategoryQuestion" icon="ui-icon-arrowthick-1-ne"/>
            <p:separator />
            <p:menuitem value="Kurs - Test - Wyniki Studentów" action="toCourseTest" icon="ui-icon-arrowthick-1-ne"/>
    </p:tieredMenu  >
</h:form>

</ui:define>

<ui:define name="menu">
<h:form>
	<p:menubar>
            <p:menuitem value="Kurs - Student" action="toCourseUser" icon="ui-icon-arrowthick-1-ne"/>
            <p:menuitem value="Kategoria - Pytanie" action="toCategoryQuestion" icon="ui-icon-arrowthick-1-ne"/>
            <p:menuitem value="Kurs - Test - Wyniki Studentów" action="toCourseTest" icon="ui-icon-arrowthick-1-ne"/>
    </p:menubar  >
</h:form>

</ui:define>
</ui:composition>