<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
	  			xmlns:c="http://java.sun.com/jsp/jstl/core"
				template="/WEB-INF/layouts/standard.xhtml">
<ui:define name="notes">
	<p>
		Clicking "Book" will launch the booking sub-flow (see the subflow state in <strong>main-flow.xml</strong>).
	</p>
	<p>
		The booking flow is protected with Spring Security (see the secured attribute in <strong>booking-flow.xml</strong>).
	</p>
	<p>
		Clicking "Back to Search" will take you to the stateful search results. 
	</p>
</ui:define>
<ui:define name="content">






	<h:form id="form">
	<p:panel id="student_results" header="Wyniki Studentów" style="margin-bottom:10px;">   
	
	
	<p:dataTable id="users" var="result" value="#{resultsModel}" paginator="true" rows="10" 
	paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} 
	{CurrentPageReport} {NextPageLink} {LastPageLink}" 
	rowsPerPageTemplate="5,10,15" lazy="true">
       <p:column>
			<f:facet name="header">Imię Studenta</f:facet>
			#{result.user.name}
		</p:column>
		<p:column>
			<f:facet name="header">Numer indeksu</f:facet>
			#{result.user.indexNumber}
		</p:column>
		<p:column>
			<f:facet name="header">Liczba poprawnych odpowiedzi</f:facet>
			#{result.points}
		</p:column>
		<p:column>
			<f:facet name="header">Ocena</f:facet>
			#{result.mark}
		</p:column>
		<p:column>
			<f:facet name="header">Data Zakończenia</f:facet>
			#{resultsModel.getDateFormat().format(result.getEndDate())}
		</p:column>
	</p:dataTable>
    		
    		 </p:panel>
	</h:form>
</ui:define>
</ui:composition>