<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
	  			xmlns:c="http://java.sun.com/jsp/jstl/core"
				template="/WEB-INF/layouts/standard.xhtml">
<ui:define name="notes">
	<p>
		Clicking "Book" will launch the booking sub-flow (see the subflow state in <strong>main-flow.xml</strong>).
	</p>
	<p>
		The booking flow is protected with Spring Security (see the secured attribute in <strong>booking-flow.xml</strong>).
	</p>
	<p>
		Clicking "Back to Search" will take you to the stateful search results. 
	</p>
</ui:define>
<ui:define name="content">


<h:form id="viewCourse">
	<p:dialog header="Test" widgetVar="newCourseDialog" resizable="false"
              showEffect="explode" hideEffect="explode" dynamic="true">  
        <h:panelGrid id="display" columns="2" cellpadding="4">  
           
            <h:outputText value="Nazwa :" />  
            <h:outputText value="#{student_courseTreeBean.selectedTest.name}" style="font-weight:bold"/> 
            
             <h:outputText value="Kurs :" />  
            <h:outputText value="#{student_courseTreeBean.selectedCourse.name}" style="font-weight:bold"/> 
            
             <h:outputText value="Czas na test :" />  
            <h:outputText value="#{student_courseTreeBean.selectedTest.timeForTest}" style="font-weight:bold"/> 
  
            <h:outputText value="Liczba pytań :" />  
            <h:outputText value="#{student_courseTreeBean.selectedTest.questionsCount}" style="font-weight:bold"/>
             
            <h:outputText value="Liczba odpowiedzi :" />  
            <h:outputText value="#{student_courseTreeBean.selectedTest.answersCount}" style="font-weight:bold"/> 
            
            <h:outputText value="Test wielokrotnego wyboru :" />  
            <p:selectBooleanButton id="areMultipleAnswers" disabled="true" value="#{student_courseTreeBean.selectedTest.areMultipleAnswers}" onLabel="Tak" offLabel="Nie" onIcon="ui-icon-check" offIcon="ui-icon-close" />  
           
            <h:outputText value="Test e-learningowy :" />  
            <p:selectBooleanButton id="isELearning" disabled="true" value="#{student_courseTreeBean.selectedTest.isElearning}" onLabel="Tak" offLabel="Nie" onIcon="ui-icon-check" offIcon="ui-icon-close" /> 
           
           	 <p:commandButton id="startTest" value="Rozpocznij test" action="startTest" />
        </h:panelGrid>      
    </p:dialog>  
    </h:form>




	<h:form id="form">
	<p:panel id="course_user" header="Kurs - Student" style="margin-bottom:10px;">   
	
	
	
	<p:contextMenu id="treeMenu" for="tree" nodeType="#{student_courseTreeBean.testType}">  
        <p:menuitem value="Wyświetl test" update=":viewCourse" oncomplete="PF('newCourseDialog').show()" actionListener="#{student_courseTreeBean.setSelectedTest}" icon="ui-icon-pencil" />  
    </p:contextMenu>
	
    		
    		<p:tree value="#{student_courseTreeBean.root}" var="node" id="tree" selectionMode="single"  
            selection="#{student_courseTreeBean.selectedNode}" >  
        		<p:treeNode  type="#{student_courseTreeBean.rootType}">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode>  
        		<p:treeNode  type="#{student_courseTreeBean.courseType}">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode> 
        		<p:treeNode  type="#{student_courseTreeBean.testType}">  
            		<h:outputText value="#{node}"/>  
        		</p:treeNode> 
    		</p:tree>
    	
    		
    		 </p:panel>
	</h:form>
</ui:define>
</ui:composition>