<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
	  			xmlns:c="http://java.sun.com/jsp/jstl/core"
				template="/WEB-INF/layouts/standard.xhtml">
<ui:define name="notes">
	<p>
		Clicking "Book" will launch the booking sub-flow (see the subflow state in <strong>main-flow.xml</strong>).
	</p>
	<p>
		The booking flow is protected with Spring Security (see the secured attribute in <strong>booking-flow.xml</strong>).
	</p>
	<p>
		Clicking "Back to Search" will take you to the stateful search results. 
	</p>
</ui:define>
<ui:define name="content">


	<h:form id="form">
	<p:panel id="question_answers" style="margin-bottom:10px;">   
	
	<p:panel id="question"  style="margin-bottom:10px;">
	<h:outputText value="#{testBean.questionNO}. " style="font-weight:bold"/> 
	<h:outputText value="#{testBean.question.text}" style="font-weight:bold"/>
	</p:panel>
	<p:panel id="answer"  style="margin-bottom:10px;">
	<c:choose>
	
	<c:when  test="${testBean.getTest().isAreMultipleAnswers()}">
	<ui:repeat id="repeat" value="#{testBean.question.answers}" var="answer">
	<p:panel id="answersss" style="margin-bottom:4px;">
	<h:panelGroup rendered="#{testBean.getStudentAnswer().getAnswers().get(answer.getId()) == answer.isIsTrue()}">
	<span class="ui-icon ui-icon-check" style="zoom:200%;"></span>
	</h:panelGroup>
	<h:panelGroup rendered="#{testBean.getStudentAnswer().getAnswers().get(answer.getId()) != answer.isIsTrue()}">
	<span class="ui-icon ui-icon-close" style="zoom:200%;"></span>
	</h:panelGroup>
	
				<p:panel id="answer" style="margin-bottom:10px;background:#{testBean.getColor(testBean.getStudentAnswer().getAnswers().get(answer.getId()) == answer.isIsTrue())};">
				<p:selectBooleanCheckbox disabled="true" value="#{testBean.getStudentAnswer().getAnswers().get(answer.getId())}" />
				<h:outputText value=" #{testBean.abc(answer.id)}. " style="font-weight:bold"/> 
				<h:outputText value="#{answer.text}" style="font-weight:bold"/>
				</p:panel>
				<p:panel id="answerExp" style="margin-bottom:10px;">
				<h:outputText value="Wytłumaczenie, Odpowiedź jest poprawna ponieważ: #{answer.explenationText}" rendered="#{answer.isIsTrue()}" style="font-weight:bold"/>
				<h:outputText value="Wytłumaczenie, Odpowiedź nie jest poprawna ponieważ: #{answer.explenationText}" rendered="#{!answer.isIsTrue()}" style="font-weight:bold"/>
				</p:panel>
				
	</p:panel>
	</ui:repeat>
	
	</c:when>
	<c:otherwise>
	
	<p:selectOneRadio id="customRadio" value="#{testBean.selectedAnswer}" layout="custom">
        <f:selectItems value="#{testBean.selectItems}" />
    </p:selectOneRadio>

    
    	<ui:repeat id="repeat" value="#{testBean.question.answers}" var="answer">
    	<p:panel id="answersss" style="margin-bottom:4px;">
    	<h:panelGroup rendered="#{testBean.getStudentAnswer().getAnswers().get(answer.getId()) == answer.isIsTrue()}">
		<span class="ui-icon ui-icon-check" style="zoom:200%;"></span>
		</h:panelGroup>
		<h:panelGroup rendered="#{testBean.getStudentAnswer().getAnswers().get(answer.getId()) != answer.isIsTrue()}">
		<span class="ui-icon ui-icon-close" style="zoom:200%;"></span>
		</h:panelGroup>
    	<p:panel id="answer" style="margin-bottom:10px;background:#{testBean.getColor(testBean.getStudentAnswer().getAnswers().get(answer.getId()) == answer.isIsTrue())};">
        <p:radioButton disabled="true" for=":form:customRadio" itemIndex="#{answer.id}"/>
        <h:outputText value=" #{testBean.abc(answer.id)}. " style="font-weight:bold"/> 
		<h:outputText value="#{answer.text}" style="font-weight:bold"/>
		</p:panel>
		<p:panel id="answerExp" style="margin-bottom:10px;">
		<h:outputText value="Wytłumaczenie: #{answer.explenationText}" style="font-weight:bold"/>
        </p:panel>
        </p:panel>
        </ui:repeat>

	</c:otherwise>
	</c:choose>
	</p:panel>
	<p:commandButton id="nextQuestion1" value="Poprzednie pytanie" action="prevQuestion"  rendered="${testBean.questionNO != 1}"/>
    <p:commandButton id="nextQuestion2" value="Następne pytanie" action="nextQuestion"  rendered="${testBean.questionNO != testBean.test.getQuestionsCount().intValue()}"/>
	<p:commandButton id="endTest" value="Zakończ test" action="return" rendered="${testBean.questionNO == testBean.test.getQuestionsCount().intValue()}"/>
	<p:commandButton id="logOut" value="Wyloguj" action="logOut" rendered="${testBean.questionNO == testBean.test.getQuestionsCount().intValue()}"/>	
	
    		 </p:panel>
	</h:form>
</ui:define>
</ui:composition>