<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
	  			xmlns:c="http://java.sun.com/jsp/jstl/core"
				template="/WEB-INF/layouts/standard.xhtml">
<ui:define name="notes">
	<p>
		Clicking "Book" will launch the booking sub-flow (see the subflow state in <strong>main-flow.xml</strong>).
	</p>
	<p>
		The booking flow is protected with Spring Security (see the secured attribute in <strong>booking-flow.xml</strong>).
	</p>
	<p>
		Clicking "Back to Search" will take you to the stateful search results. 
	</p>
</ui:define>
<ui:define name="content">


	<h:form id="form">
	<p:panel id="simpleResults" style="margin-bottom:10px;">   
	
	 <h:panelGrid id="display" columns="2" cellpadding="10">  
           
            <h:outputText value="Test :" style="font-weight:bold"/>  
            <h:outputText value="#{testBean.test.name}" style="font-weight:bold"/> 
            
            <h:outputText value="Kurs :" style="font-weight:bold"/>  
            <h:outputText value="#{testBean.course.name}" style="font-weight:bold"/> 
            
            <h:outputText value="Liczba pytań :" style="font-weight:bold"/>  
            <h:outputText value="#{testBean.test.questionsCount}" style="font-weight:bold"/>
             
            <h:outputText value="Liczba punktów :" style="font-weight:bold"/>  
            <h:outputText value="#{testBean.response.result.points}" style="font-weight:bold"/> 
            
            <c:if test="#{not empty testBean.response.result.mark}">
            <h:outputText value="Ocena :" style="font-weight:bold"/>  
            <h:outputText value="#{testBean.response.result.mark}" style="font-weight:bold"/>
            </c:if>
            
        </h:panelGrid>
         <h:panelGrid id="buttons" columns="3" cellpadding="10">
         <c:if test="#{testBean.test.isIsElearning()}">
           	<p:commandButton id="detailedAnswers" value="Szczególowe wyniki" action="getDatailedResults"/>	
           	</c:if>
           	<p:commandButton id="return" value="Powrót" action="return"/>
           	<p:commandButton id="logOut" value="Wyloguj" action="logOut" />
           
        </h:panelGrid>      
	
		
    		 </p:panel>
	</h:form>
</ui:define>
</ui:composition>